<div class="homecontainer" style="{% if img_block_background %}background-image: url('{{ img_block_background }}');{% endif %}">
    {% for i in 1..img_number %}
    <a href="{{ img_block_links[i] }}" title="{{ img_block_titles[i] }}">
        <div class="homebox" style="background-image: url('{{ img_block_images[i] }}')"
        {% if img_block_images1[i] %}
            onmouseover="this.style.backgroundImage='url({{ img_block_images1[i] }})'"
            onmouseout="this.style.backgroundImage='url({{ img_block_images[i] }})'"
        {% endif %}
        ></div>
    </a>
    {% endfor %}
</div>
