{{ header }}
<link href="{{ site_url }}/tshirtecommerce/opencart/css/storeideas.css?v={{ random() }}" rel="stylesheet">
<div id="container" class="container">
	{{ content }}
  	
  	{{ store_ideas }}
  	
</div>
<div class="pull-right">{{pagination}}</div>

{{ footer }} 